<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717195906789-c42nlspql4ud4cnii97c75339bvoieuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717195906789-c42nlspql4ud4cnii97c75339bvoieuf</string>
	<key>API_KEY</key>
	<string>AIzaSyAjQ1CxINZdlQl3XQLKQl6zcnTajzh8U-o</string>
	<key>GCM_SENDER_ID</key>
	<string>717195906789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finder</string>
	<key>PROJECT_ID</key>
	<string>finder-7e2a7</string>
	<key>STORAGE_BUCKET</key>
	<string>finder-7e2a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717195906789:ios:7e9e6ea05aaf645e3f4e0c</string>
</dict>
</plist>